<div class="">
  <a routerLink="/account/profile">Back to profile</a>
</div>
<hr>
<form class="form-group" #form="ngForm" (ngSubmit)="saveChanges(form)">
 <div class="form-group">
   <label for="">First name</label>
   <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" required>
 </div>
 <div class="form-group">
   <label for="">Last name</label>
   <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" required>
 </div>
 <div class="form-group">
   <label for="">Middle name</label>
   <input type="text" class="form-control" name="middleName" [(ngModel)]="user.middleName">
 </div>
 <div *ngIf="user.gender == 'f'" class="form-group">
   <label for="">Maiden name</label>
   <input type="text" class="form-control" name="maidenName" [(ngModel)]="user.maidenName">
 </div>
 <div class="form-group">
   <label for="">Birthday</label>
     <input type="text" class="form-control" name="birthday" [(ngModel)]="user.birthday">
   </div>
 <div class="form-group">
   <label for="">Gender</label>
   <select [(ngModel)]="user.gender" class="form-control" name="gender" id="exampleFormControlSelect2">
      <option value="">Select your gender</option>
      <option value="m">Male</option>
      <option value="f">Female</option>
      <option value="o">Other</option>
    </select>
 </div>
 <div class="form-group">
   <label for="">Phone</label>
   <input type="number" class="form-control" name="phone" [(ngModel)]="user.phone">
 </div>
 <div class="form-group">
   <label for="">Job</label>
   <textarea class="form-control" [(ngModel)]="user.job" name="job" rows="3"></textarea>
 </div>
 <hr>
 <div class="text-right">
   <button type="submit" class="btn btn-success" name="button">Save changes</button>
 </div>
</form>
