<form class="form-group" #form="ngForm" (ngSubmit)="changePassword(form)">
 <div class="form-group">
   <label for="">Current password</label>
   <input type="password" class="form-control" name="currentPassword" [ngModel]="currentPassword" required>
 </div>
 <div class="form-group">
   <label for="">New password</label>
   <input type="password" class="form-control" name="newPassword" [ngModel]="newPassword" required>
 </div>
 <div class="form-group">
   <label for="">Repeat new password</label>
   <input type="password" class="form-control" name="repeatNewPassword" [ngModel]="repeatNewPassword" required>
 </div>
 <hr>
 <div class="text-right">
   <button type="submit" class="btn btn-success" name="button">Change password</button>
 </div>
</form>
