<ul class="list-group">
  <li routerLink="/account/main" class="list-group-item">Main</li>
  <li routerLink="/account/characters" class="list-group-item">My characters</li>
  <li routerLink="/account/profile" class="list-group-item">Profile</li>
  <li routerLink="/account/events" class="list-group-item">Events</li>
  <li routerLink="/account/privacy" class="list-group-item">Privacy settings</li>
  <li class="list-group-item">
    <button routerLink="/logout" type="button" class="btn btn-primary btn-block" name="button">Logout</button>
  </li>
</ul>
